# Files
.DS_Store
.rev
.revision
config.codekit
debug.log
license.txt
npm-debug.log
package.json
readme.html

# Directories
.codekit-cache
.sass-cache
node_modules
wp-content/debug.log
wp-content/uploads

# W3 Total Cache
wp-content/advanced-cache.php
wp-content/cache
wp-content/db.php
wp-content/object-cache.php
wp-content/w3tc-config
